<%= render 'shared/page_title', title: @recipe.name %>

<div class="card bg-light col-md-8 offset-md-2">
  <h4 class="mx-auto "><strong>Description: </strong></h4>
  <hr />
  <%= @recipe.description %>

  <div class="float-right">
    <p class="mx-auto">
      Created by:
    </p>
    <p class="mx-auto">
      <%= link_to gravatar_for(@recipe.chef), recipes_path %>
    </p>
    <p>
      <small><%= @recipe.chef.chef_name %></small>
      <div class="float-right">
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </div>
    </p>
  </div>
</div>