<%= render 'shared/page_title', title: @recipe.name %>

<div class="card bg-light col-md-8 offset-md-2">
  <h4 class="mx-auto "><strong>Description: </strong></h4>
  <hr />
  <%= @recipe.description %>
  <% if @recipe.ingredients.any? %>
  <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>

  <div class="float-right">
    <p class="mx-auto">
      Created by:
    </p>
    <p class="mx-auto">
      <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
    </p>
    <p>
      <small><%= @recipe.chef.chef_name %></small>
    </p>
    <p>
      <div class="float-right">
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </div>
    </p>

  </div>
  <div class="row">
    <div class="col-md mt-2 mb-2">
      <div class="float-right text-light">
        <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
        <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: 'btn btn-xs btn-warning text-light' %>
        <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete,
                                    data: { confirm: "Are you sure you want to delete?" },
                                    class: "btn btn-xs btn-danger" %>
        <% end %>
        <%= link_to  "Return to recipes listing", recipes_path, class: 'btn btn-xs btn-primary text-light'  %>
      </div>
    </div>
  </div>
</div>

<% if @recipe.comments != 0 %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3>Prior Comments: </h3>
    <div id="messages">
      <%= render partial: 'comments/comments', object: @comments %>
    </div>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3>No Comments Yet!</h3>
  </div>
</div>
<% end %>

<% if logged_in? %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3>Comments: </h3>
    <hr />
    <%= form_for([@recipe, @comment], :html => {class: "form-horizontal", 
                                                role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label :description, "Comment" %>
      </div>
      <div class="col-md-8">
        <%= f.text_area :description, rows: 8, class: "form-control", 
                                      placeholder: "Enter Comment Here" %>
      </div>
    </div>
    <div class="form-group">
      <div class="offset-md-2 col-md-10">
        <%= f.submit "Submit Comment", 
                              class: "btn btn-primary btn-lg btn-xlarge" %>
      </div>
    </div>
    <% end %>
    <hr />
  </div>
</div>
<% end %>