<%= render 'shared/page_title', title: @recipe.name %>

<div class="card bg-light col-md-8 offset-md-2">
  <h4 class="mx-auto "><strong>Description: </strong></h4>
  <hr />
  <%= @recipe.description %>

  <div class="float-right">
    <p class="mx-auto">
      Created by:
    </p>
    <p class="mx-auto">
      <%= link_to gravatar_for(@recipe.chef), recipes_path %>
    </p>
    <p>
      <small><%= @recipe.chef.chef_name %></small>
    </p>
    <p>
      <div class="float-right">
        <%= time_ago_in_words(@recipe.created_at) %> ago
      </div>
    </p>

  </div>
  <div class="row">
    <div class="col-md mt-2 mb-2">
      <div class="float-right text-light">
        <%= link_to "Edit this recipe", edit_recipe_path(@recipe), class: 'btn btn-xs btn-warning text-light' %>
        <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete,
                                    data: { confirm: "Are you sure you want to delete?" },
                                    class: "btn btn-xs btn-danger" %>
        <%= link_to  "Return to recipes listing", recipes_path, class: 'btn btn-xs btn-primary text-light'  %>
      </div>
    </div>
  </div>
</div>