 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   <%= link_to  "MyRecipes", root_path, class: "navbar-brand" %>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
     <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
         <%= link_to  "Chefs", chefs_path, class: "nav-link" %>
       </li>
       <li class="nav-item">
         <%= link_to  "Recipes", recipes_path, class: 'nav-link' %>
       </li>
       <% unless logged_in? %>
       <li class="nav-item">
         <%= link_to  "Sign Up", signup_path, class: 'nav-link' %>
       </li>
       <%end %>
     </ul>
     <div class=" form-inline mt-2 mt-md-0 mr-5">
       <ul class="navbar-nav mr-auto">
         <% unless logged_in? %>
         <li class="nav-item">
           <%= link_to  "Log In", login_path, class: 'nav-link'  %>
         </li>
         <% else %>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
           <div class="dropdown-menu" aria-labelledby="dropdown01">
             <%= link_to  "Your profile", chef_path(current_chef), class: 'dropdown-item' %>
             <%= link_to  "Edit your profile", edit_chef_path(current_chef), class: 'dropdown-item'%>
           </div>
         </li>
         <% if current_chef.admin? %>
         <li class="nav-item">
           <span class="nav-link">Admin</span>
         </li>
         <%end%>
         <li class="nav-item">
           <%= link_to  "Log out", logout_path, method: :delete, class: 'nav-link' %>
         </li>
         <%end %>
       </ul>
     </div>
 </nav>